@charset "UTF-8";

body {
  background-color: #F6F8FF;
  min-height: 100vh;
}

*, *:after, *:before {
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 240px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

figcaption {
  display: block;
  text-align: center;
  font-size: .8rem;
}

.list-title {
  background-color: #263959;
  border-bottom-left-radius: 20px;
  color: #f5f8fe;
  font-weight: 100;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  padding: 10px 20px;
  margin: 0;
}

.list-title a {
  color: white;
}

.list-title a:hover {
  color: #89c6af;
}

.img-round, .avatar, .avatar-xsmall, .avatar-small, .avatar-medium, .avatar-large, .avatar-xlarge {
  border-radius: 50%;
  max-width: 100%;
}

.forum-list {
  padding: 0;
  background: white;
  margin: 20px 0;
}

.forum-list .forum-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 30px;
}

.forum-list .forum-listing:nth-child(odd) {
  background: rgba(73, 89, 96, 0.06);
  border-bottom-left-radius: 20px;
}

.forum-list .forum-listing:last-child {
  border-bottom-left-radius: 0;
}

.forum-list .forum-listing .forum-details {
  flex-basis: 52%;
}

@media (min-width: 240px) and (max-width: 720px) {
  .forum-list .forum-listing .forum-details {
      flex-basis: 100%;
  }
}
