@charset "UTF-8";

body {
  background-color: #F6F8FF;
  min-height: 100vh;
}

*, *:after, *:before {
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 240px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

figcaption {
  display: block;
  text-align: center;
  font-size: .8rem;
}

.list-title {
  background-color: #263959;
  border-bottom-left-radius: 20px;
  color: #f5f8fe;
  font-weight: 100;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  padding: 10px 20px;
  margin: 0;
}

.list-title a {
  color: white;
}

.list-title a:hover {
  color: #89c6af;
}

.img-round, .avatar, .avatar-xsmall, .avatar-small, .avatar-medium, .avatar-large, .avatar-xlarge {
  border-radius: 50%;
  max-width: 100%;
}


/* FORUM LIST */
.forum-list {
  padding: 0;
  background: white;
  margin: 20px 0;
}

.forum-list .forum-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 30px;
}

.forum-list .forum-listing:nth-child(odd) {
  background: rgba(73, 89, 96, 0.06);
  border-bottom-left-radius: 20px;
}

.forum-list .forum-listing:last-child {
  border-bottom-left-radius: 0;
}

.forum-list .forum-listing .forum-details {
  flex-basis: 52%;
}

@media (min-width: 240px) and (max-width: 720px) {
  .forum-list .forum-listing .forum-details {
      flex-basis: 100%;
  }
}

.forum-list .forum-listing .forum-details ul.subforums {
  padding-left: 5px;
  display: block;
}

.forum-list .forum-listing .forum-details ul.subforums::before {
  content: '⌙';
  margin-right: 5px;
}

.forum-list .forum-listing .forum-details ul.subforums.subforums li {
  display: inline;
}

.forum-list .forum-listing .forum-details ul.subforums.subforums li:not(:last-of-type)::after {
  content: '\f111';
  font-family: 'FontAwesome';
  font-size: 4px;
  position: relative;
  top: -3px;
  left: 2px;
  padding: 0 3px;
  color: #878787;
}

.forum-list .forum-listing .threads-count {
  flex-basis: 12%;
  text-align: center;
}

.forum-list .forum-listing .threads-count .count {
  font-weight: 100;
  display: block;
}

.forum-list .forum-listing .last-thread {
  flex-basis: 32%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.forum-list .forum-listing .last-thread .avatar {
  margin-right: 10px;
}

.forum-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.forum-stats ul {
  font-size: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.forum-stats ul li {
  display: flex;
  font-weight: 100;
  margin: 0 20px;
  align-items: center;
}

.forum-stats ul li .fa {
  margin-right: 5px;
}

.forum-stats ul li .fa-comments-o {
  font-size: 26px;
}


/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.navbar-item, .navbar-mobile-item {
  display: inline-block;
  border-right: 1px solid #3c4d6a;
  vertical-align: middle;
}

ul .navbar-item:last-child, ul .navbar-mobile-item:last-child {
  border-right: none;
}

.navbar-item a, .navbar-mobile-item a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: all .6s ease;
  font-size: 18px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .navbar-item a, .navbar-mobile-item a {
    padding: 10px 0px;
  }
}

.navbar-item a:hover, .navbar-mobile-item a:hover {
  color: #57AD8D;
}

.navbar-item a:active, .navbar-mobile-item a:active {
  color: #57AD8D;
}

@media (min-width: 240px) and (max-width: 720px) {
  .navbar-item, .navbar-mobile-item {
    display: block;
    border: none;
    margin: 20px 0;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .navbar {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 10px 10px 10px;
    background: #263959;
    width: 100%;
    left: 0;
    top: 60px;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .navbar-open {
    display: flex;
    transition: all 0.6s ease;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .navbar-open .navbar-item, .navbar-open .navbar-mobile-item {
    margin: 6px 0;
  }

  .navbar-open ul {
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
  }
}

.signs .navbar-item, .signs .navbar-mobile-item {
  border-right: none;
}

.a-active {
  color: #57AD8D;
}

.icon-profile {
  width: 10px;
  height: 8px;
}

.navbar-user {
  margin-left: auto;
}

.navbar-user a {
  display: flex;
  align-items: center;
  color: white;
}

.navbar-user a:hover .icon-profile {
  transition: all .4s ease;
  transform: rotate(-180deg);
}

.navbar-user img {
  margin-right: 10px;
}


/* HAMBUGRER */
.btn-hamburger {
  cursor: pointer;
  height: 30px;
  width: 30px;
  float: right;
  position: relative;
  margin-left: 20px;
  display: none;
}

.btn-hamburger .top {
  top: 7px;
}

.btn-hamburger .middle {
  top: 16px;
}

.btn-hamburger .bottom {
  top: 26px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .btn-hamburger {
      display: block;
  }
}

.bar {
  width: 30px;
  height: 4px;
  background: white;
  position: absolute;
  border-radius: 10px;
  transition: all 0.5s;
}

.btn-hamburger-active .top {
  top: 16px;
}

.btn-hamburger-active .middle {
  opacity: 0;
  overflow: hidden;
}

.btn-hamburger-active .bottom {
  top: 16px;
}


/* TITLE */
header > a.logo {
  width: 50px;
}

@media (min-width: 240px) and (max-width: 720px) {
  header > a.logo {
      width: 35px;
  }
}

.title {
  font-size: 30px;
  text-align: center;
}

@media (min-width: 1360px) {
  .title {
    font-size: 46px;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .title {
    font-size: 32px;
  }
}

@media (min-width: 720px) and (max-width: 820px) {
  .title {
    font-size: 30px;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .title {
    font-size: 30px;
  }
}

.title-white {
  color: white;
}

.title-banner {
  color: white;
  text-transform: uppercase;
}

.subtitle {
  font-size: 26px;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .subtitle {
    font-size: 22px;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .subtitle {
    font-size: 20px;
  }
}

@media (min-width: 240px) and (max-width: 400px) {
  .subtitle {
    font-size: 18px;
  }
}


/* DROPDOWN */
#user-dropdown {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 6;
  display: none;
}

@media (min-width: 240px) and (max-width: 720px) {
  #user-dropdown {
      position: relative;
      width: 100%;
      right: 0;
      z-index: 10;
      top: 98px;
  }
}

#user-dropdown.active-drop {
  display: block;
}

.active-drop {
  display: block;
}

.dropdown-menu, #user-dropdown > .dropdown-menu {
  display: block;
  background: white;
  padding: 20px;
  position: relative;
}

.dropdown-menu-item, #user-dropdown > .dropdown-menu > .dropdown-menu-item {
  margin-bottom: 5px;
}

.dropdown-menu-item a, #user-dropdown > .dropdown-menu > .dropdown-menu-item a {
  display: block;
  color: #57AD8D;
  font-size: 16px;
  transition: all ease 0.6s;
}

.dropdown-menu-item a:hover, #user-dropdown > .dropdown-menu > .dropdown-menu-item a:hover {
  color: #41826a;
}

.triangle-drop {
  border-bottom: solid 8px white;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  display: inline-block;
  margin: 0;
  position: relative;
  left: 70%;
  vertical-align: middle;
  bottom: -8px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .triangle-drop {
    left: 5%;
  }
}

#user-dropdown a {
  color: #57AD8D;
  text-decoration: none;
  transition: all .6s ease;
}

#user-dropdown a:hover {
  color: #41826a;
  cursor: pointer;
}

#user-dropdown ul {
  display: block;
}


/* MENTIONSLIST */
.mentionsList {
  position: absolute;
  width: 160px;
  z-index: 2;
  background-color: #263959;
  box-shadow: 2px 2px 1px rgba(136, 136, 136, 0.09);
  color: white;
}

.mentionsList li {
  padding: 6px;
  display: flex;
  align-items: center;
}

.mentionsList li img {
  margin-right: 2px;
}

.mentionsList li:hover {
  cursor: pointer;
  background-color: #57AD8D;
}

.mentionsList li:not(:last-of-type) {
  margin-bottom: 3px;
}

.mentionsList::before {
  border-bottom: solid 8px #263959;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  content: "";
  display: inline-block;
  left: 52px;
  position: absolute;
  top: -8px;
}

#app {
  background: #F5F8FE;
  min-height: 100vh;
}
